// /*--------------------------------------------------------------
// # Content
// --------------------------------------------------------------*/

/* Posts and pages */

.site-content {
	margin-top: 53px;
}

.content-area	 {
  width: 1120px;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  flex-flow: row nowrap;
  justify-content: centre;
  padding-top: 30px;
  padding-right: 5%;
  margin-left: 10%;	
  height: 100%;
  font-size: 16px;
  line-spacing: 1.5rem;
  line-height: 1.75;
  font-family: $main__font-family, $font__main;
 	h1 {
	text-transform: uppercase;
	font-family: $accent__font-family, $font__main; 	
	}
	h2 {
	text-transform: uppercase;
	font-family: $accent__font-family, $font__main;
	}
	p {
		line-height: 1.75;
	}
}

// Search Page

.search-entry-title a{
	color: $color__brand-green;
	text-decoration: none;
	 
}



