// /*--------------------------------------------------------------
// # Content
// --------------------------------------------------------------*/

/* Posts and pages */

// .sticky {
// 	display: block;
// }

// .hentry {
// 	margin: 0 0 $base__space-unit;
// }

// .updated:not(.published){
// 	display: none;
// }

// .single .byline,
// .group-blog .byline {
// 	display: inline;
// }

// .page-content,
// .entry-content,
// .entry-summary {
// 	margin: $base__space-unit 0 0;
// }

// .page-links {
// 	clear: both;
// 	margin: 0 0 $base__space-unit;
// }

// /* Asides */

// .blog .format-aside .entry-title,
// .archive .format-aside .entry-title {
// 	display: none;
// }

// /* Comments */
.comment-form {
	display: flex;
	flex-flow: row wrap;
}
.comment-form-comment {
	width: 100%;
	

}

.comment-reply-title {
	display: block;
}


textarea {
	width: 100%;
	flex: 1 0 100%;
}

.comment-form-email,
.comment-form-author {
	
	flex: 1 0 50%;

	label {
		display: block;
	}
	input {
	width: 98%;

	}
}

.comment-form-url {
	flex: 1 0 100%;
	input {
		width: 100%;
	}
}
 
.required {
	color: $color__brand-orange;
}

input.submit {
	background: $color__brand-green;
	color: white;
	border-radius: none;
	padding: 1rem 2rem;

}

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
body {
	box-sizing: border-box;
}

.content-area	 {
  // width: 800px;
  margin: 0 auto;
  display: block;
  flex-flow: row nowrap;
  justify-content: centre;
  padding-top: 50px;
  padding-right: 5%;
  // width:73%;
  margin-left: 10%;	
 
}


/* Posts */

.site-content {	

		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		// width: 1000px;
		margin: 0 auto;

}

.post {
	position: relative;
	display: block;
	height:600px;
	

}
.wp-post-image {
	height: 400px;
	width: 100%;
	
}


.entry-content {

height: 400px;
}
.entry-title {
	display: inline-block;
	position: absolute;
	background: $color__brand-green;
	left: 0;
	top: 10px;
	margin: rem;
	// padding: 2rem;
}
.entry-title a{
	color: white;

}

.entry-meta {
	position: absolute;
	right: 0;
	top: 375px;
	color: white;
	display: inline-block;
	background: $color__brand-green;
	text-transform: uppercase;
}

.entry-foot {
	display: block;
}

.cat-links,
.tags-links {
	display: inline-block;
	text-transform: uppercase;
	padding-right: 10px;
}

.nav-previous,
.nav-next {
	display: none;
}





