/* Footer */

.site-footer {
	
	background: url('../../images/dark-wood@2x.png');
	background-size: 100% auto;
	width: 100%;
	
}

.footer-block {

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

}

.footer-text {
	display: flex;
	flex-flow: row nowrap;
	margin: 4rem 4rem;
}

.footer-block h3{
	color: $color__brand-orange;	
	text-transform: uppercase;
}

.footer-block p,
.footer-block a{
	color: white;
}

.footer-week-days {
	font-weight: bold;
	
}

.contact-info,
.business-hours {
	list-style: none;
	min-width: 100%;

}

.contact-info {
	line-height: 2rem;
	a:hover {
		text-decoration: underline;
	}
	
}

.brand-image-container {
	padding: 4rem 8rem;
}

.brand-image {

	
	width: auto;
	height: 60%;
	
}


.site-info {
	color: white;	
	text-transform: uppercase;
	text-align: center;
	align-content: flex-end;
}





