/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
	background: #f4f4f4;
}

/* Search Form */

fieldset {
	border: none;
}
.fa-search {
	color: $color__brand-green;

}
.search-form {
	

	.search-field {
		
		font-size: 14px;
		text-transform: uppercase;

		
	}
	.search-submit {
		border: none;
		background: none;
		box-shadow: none;

	}
}

/* Find Us */

.wpcf7-submit {
	padding: .5rem 2rem;
	border: none;
	background: $color__brand-green;
	text-transform: uppercase;
	color: white;
	&:hover {
		background-color: #19625d;
	}
}



