// Shop Stuff

.inhabitent-hero {
	height: 100vh;
	
	background: 

	linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
	url('../../images/home-hero.jpg')no-repeat;
	background-size:cover;	
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
	.inhabitent-about-logo {
		align-self: center;
	}

	
}	


.shop-stuff-container {
	width: 1120px;

	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 4rem;
	

	.product-type-block {
		min-width: 23%;
		flex: 1 0 25%;
		border-top: 5px solid #e1e1e1;
		margin-left: 0;

	}
}

.inhabitent-journal {
	width: 1120px;
	margin: 0 auto;
	display: flex;

	flex-flow: row nowrap;
	justify-content: space-between;


	li{
		list-style: none;
	}
}


.inhabitent-journal-block {
		display: block;
		max-width: 32%;
		border: 1px solid #e1e1e1;
		margin-bottom: 4rem;
		
		h1 {
			color: $color__brand-green;
		}

		.wp-post-image {
			height: 250px;
			border-bottom: 5px solid #e1e1e1;
		}
		.read-entry {
			display: inline-block;
			padding: .75rem 1.5rem;
			border: 1px solid #404040;
			text-transform: uppercase;
			color: #404040;
			&:hover {
				color: white;
				background: $color__brand-green;
			}

		}		
	}

.journal-block-info {
	min-height: 155px;
	padding: 0rem 1rem;
	line-height: 1;
	letter-spacing: 2px;
		
	a {
		font-size: 1rem;
	}
	h1 {
		font-size: 1.5rem;
		&:hover {
			color: #404040;
		}
	}

	 ul{
	padding: 0;
	text-align: left;
	}

}
.product-type-block img{
	width: 70px;
	height: 70px;
}

.product-type-block {
	max-height: 100%;
	text-align: center;
	border: 1px solid #e1e1e1;
	max-width: 18%;
	margin-left: 1rem;
	padding: 1rem 1rem;
		a:hover{
			background-color: #19625d;
		}
		a{
		text-transform: uppercase;
		padding: .5rem 1rem;
		color: white;
		background: $color__brand-green;
		}
		p{
		min-height: 30%;

		}
		&:hover {
		border: 1px solid #d99054;
		border-top: 5px solid #d99054;
	}
}


//Latest Adventures
.latest-adventures h2{
	text-align: center;
	text-transform: uppercase;
}
.front-page-h2 {
	text-align: center;
	text-transform: uppercase;
}
.adventures-container {

	display:flex;
	flex-flow: row nowrap;
	margin: 0 8rem;
	height: 500px;
	padding-bottom: 1rem;
	.static-read-more {
		border: 1px solid;
		color: white;
		padding: .5rem 1rem;
		text-transform: uppercase;
		margin-left: 1rem;
	}
	p {
		display: block;
		color: white;
		margin-left: 1rem;
		letter-spacing: 2px;
		font-size: 30px;

	}


}
.leftside-adventures {
	background: 
	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url('../../images/adventure-photos/canoe-girl.jpg');
	background-size: cover;
	height: 100%;

	flex: 1 0 50%;
	
	margin-right: 1rem;
}

.rightside-adventures {
	height: 100%;
	flex: 1 0 46%;
	display: flex;
	flex-flow: row wrap;

}

.rightside-top-adventure {
	background: 
	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url('../../images/adventure-photos/beach-bonfire.jpg');
	background-size: cover;
	flex: 1 0 100%;
	max-height: 230px;
	padding-bottom: 1rem;

}
.bottom-left-rightside-adventure {
	background: 
	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url('../../images/adventure-photos/mountain-hikers.jpg');
	background-size: cover;
	flex: 1 0 46%;
	margin-right: 1rem;
	max-height: 250px;
	margin-top: 1rem;
	
}
.bottom-right-rightside-adventure {
	background: 
	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url('../../images/adventure-photos/night-sky.jpg');
	background-size: cover;	
	flex: 1 0 50%;
	max-height: 250px;
	margin-top: 1rem;
}

.more-adventures {
	display: inline-block;
	border: 1px solid #e1e1e1;
	background: $color__brand-green;
	color: white;
	margin-left: 8rem;
	text-transform: uppercase;
	padding: .5rem 1rem;
	&:hover {
		background-color: #19625d;
	}
}

