// Shop Stuff

.inhabitent-hero {
	height: 100vh;
	background: 

	linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 

	url('../../images/logos/inhabitent-logo-full.svg')no-repeat center 200px,
	url('../../images/home-hero.jpg')no-repeat;
	background-size:cover, auto ;
	
}	


.shop-stuff-container {
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-left: 2rem;
	.product-type-block {
		flex: 1 0 25%;
	}
}

.inhabitent-journal {
	display: flex;
	flex-flow: row nowrap;

	li{
		list-style: none;
	}
}

.inhabitent-journal-block {
		display: block;
		width: 30%;
		
	}

.product-type-block img{
	width: 70px;
	height: 70px;
}

.product-type-block {
	height: 100%;
	text-align: center;
	border: 1px solid #e1e1e1;
	max-width: 18%;
	margin-left: 1rem;
	padding: 1rem 1rem;
}

.product-type-block a{
	text-transform: uppercase;
	padding: .5rem 1rem;
	color: white;
	background: $color__brand-green;
}