/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

// /* Links */

a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

// /* Menus */

// .main-navigation {
// 	clear: both;
// 	display: block;
// 	float: left;
// 	width: 100%;

// 	ul {
// 		display: none;
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;

// 		ul {
// 			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 			float: left;
// 			position: absolute;
// 			top: $base__space-unit;
// 			left: -999em;
// 			z-index: 99999;

// 			ul {
// 				left: -999em;
// 				top: 0;
// 			}

// 			li {
// 				&:hover > ul,
// 				&.focus > ul {
// 					left: 100%;
// 				}
// 			}

// 			a {
// 				width: 200px;
// 			}

// 			:hover > a,
// 			.focus > a {
// 			}

// 			a:hover,
// 			a.focus {
// 			}
// 		}

// 		li:hover > ul,
// 		li.focus > ul {
// 			left: auto;
// 		}
// 	}
// 	li {
// 		float: left;
// 		position: relative;

// 		&:hover > a,
// 		&.focus > a {
// 		}
// 	}
// 	a {
// 		display: block;
// 		text-decoration: none;
// 	}

// 	.current_page_item > a,
// 	.current-menu-item > a,
// 	.current_page_ancestor > a {
// 	}
// }

/* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

// .comment-navigation,
// .posts-navigation,
// .post-navigation {

// 	.site-main & {
// 		margin: 0 0 $base__space-unit;
// 		overflow: hidden;
// 	}

// 	.nav-previous {
// 		float: left;
// 		width: 50%;
// 	}

// 	.nav-next {
// 		float: right;
// 		text-align: right;
// 		width: 50%;
// 	}
// }

/*Logo*/

.content-area {
  width: 900px;
  margin: 0 auto;
 
}
.site-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;	
	border-bottom:  $main__solid-border;
	padding-top: .5rem;
	padding-left: 6rem;
	padding-right: 6rem;



}

.site-branding {
	// background: url('../../images/logos/inhabitent-logo-tent.svg');
	// background-size: 50px 30px;
	width: 50px;
	height: 30px;
}

	.main-navigation {
		display: flex;
		position: relative;

		ul {
			list-style: none;

		}
	}

	#primary-menu {
		display: flex;
		flex-flow: row nowrap;
		padding-right: 2rem;
		li {
			padding: 0rem 1rem;

		}
		a {
			color: $color__brand-green;
			text-transform: uppercase;

		}
	}

	.menu-toggle {
		display: none;
	}




