.about-info {
	display: block;
	padding: 0 22%;

	h2 {
		text-align: center;
		text-transform: uppercase;	
	}
}
.search-entry-title {
	a:hover {
		color: $color__text-main;
	}
}
.about-page-hero {
	
	display: flex;
	justify-content: center;
	align-items: center;	

	h1 {
	color: white;
	text-transform: uppercase;
	font-size: 3rem;
	}	
}

.read-more {
			display: inline-block;
			padding: .75rem 1.5rem;
			border: 1px solid $color__text-main;
			text-transform: uppercase;
			color: $color__text-main;
			&:hover {
				color: white;
				background: $color__brand-green;
			}

		}	