.shop-stuff-header {
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px dotted  #c8c8c8;
	padding: 2rem 0;
	a {
		color: $color__brand-green;
	}
}

.product-list-style {
	text-transform: uppercase;


	ul {

		list-style: none;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;


	}
	a {
		padding: 2rem 2rem;
	}
	a:hover {
		color: #404040;
	}
	p {
		text-align: center;
	}
}


.product-content-area {
	
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
}

.archive-product-grid {
	padding-top: 2rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

}

.single-product-block {
	padding: 1rem 1rem;
	flex: 1 0 25%;
	max-width: 25%;

	.thumbnail-wrapper {
		position: relative;
		overflow:hidden;
	}

	.wp-post-image {
	right: 20%;
	position: relative;
	min-height: 250px;
	max-width: 350px;
	// overflow: hidden;

	img {
		position: absolute;

		}
	}

}
.thumbnail-wrapper{
	height: 250px;
	overflow: hidden;
	border-bottom: 5px solid #e1e1e1;
}
.product-info {
	display: flex;
	justify-content: space-between;
	border: 1px solid #e1e1e1;
	padding: 1rem 1rem;
	position: relative;
	z-index: 999;
	&:before {
	content: '';
	width: 50%;
	right: 20%;
	top: 55%;
	border-bottom: 2px dotted black;
	position: absolute;
	z-index::0;
	}
	
}

.product-title,
.product-price {
	z-index: 999;
	background: white;
	
	position: relative;
}



//taxonomy page

.taxonomy-wrapper {
	padding-top: 2rem;
	.product-list-style {
		p{
			text-transform: none;
		}
	}
}

.taxonomy-title {
	text-align: center;
}

//single product page

.single-product-wrapper {

	display: flex;
	flex-flow: row nowrap;

}

.single-product-image-wrapper {

	min-width: 50%;
	flex: 1 0 50%;
	
}

.single-product-info-wrapper {
	flex: 1 0 50%;
	margin-left: 2rem;
	h1 {
		color: $color__brand-orange;
		margin-top: 0;
	}
	.price {
		font-weight: bold;
		
	}
	
}