.shop-stuff-header {
	text-align: center;
	text-transform: uppercase;
	a {
		color: $color__brand-green;
	}
}

.product-list-style {
	text-transform: uppercase;


	ul {

		list-style: none;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;


	}
	a {
		padding: 2rem 2rem;
	}
	p {
		text-align: center;
	}
}


.product-content-area {
	
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
}

.archive-product-grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

}

.single-product-block {
	padding: 1rem 1rem;
	margin: 0;
	flex: 1 0 25%;
	.wp-post-image {
	max-height: 250px;
	}
}
.thumbnail-wrapper{
	height: 250px;
	overflow: hidden;
	border-bottom: 5px solid #e1e1e1;
}
.product-info {
	border: 1px solid #e1e1e1;
	padding: 1rem 1rem;
	
}

//taxonomy page

.taxonomy-wrapper {
	padding-top: 2rem;
	.product-list-style {
		p{
			text-transform: none;
		}
	}
}

.taxonomy-title {
	text-align: center;
}
