/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */

.widget_search .search-submit {
	display: none;
}

.widget-area {
	// height: 100%;
	display: flex;
	flex-flow: column nowrap;
	// position: absolute;	
	padding-left: 5%;
	// right: 0;
	width: 27%;
	border-left: $main__solid-border;
	margin-right: 10%;
	
}

.widget_archive ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

